<button class="RoundButton" @onclick="OnClick">
    @ChildContent
</button>

@code {
    public enum RoundButtonStyle
    {
        Default,
        Alert
    }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public RoundButtonStyle Style { get; set; } = RoundButtonStyle.Default;

    [Parameter]
    public EventCallback OnClick { get; set; }
}