.SearchBar {
    background: var(--neutralLight);
    border: 0;
    border-radius: 16px;
    display: flex;
    height: 32px;
    justify-content: flex-start;
    outline: none;
    padding: 0 0 0 12px;
    position: relative;
    width: 320px;
}

    .SearchBar > input {
        background: none;
        border: 0;
        color: var(--text);
        flex: 1;
        outline: none;
    }

    .SearchBar > button {
        background: none;
        border: 0;
        border-radius: 16px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        padding: 0;
        width: 32px;
    }

        .SearchBar > button > svg {
            fill: var(--text);
        }

.SearchResults {
    background: #0A0D30;
    border-radius: var(--borderRadiusLarge);
    color: var(--primaryInverted);
    display: flex;
    flex-direction: column;
    padding: var(--borderRadiusLarge);
    position: absolute;
    top: 100%;
    left: -5%;
    width: 110%;
    z-index: 1000;
}

    .SearchResult {
        align-items: center;
        border-radius: var(--borderRadius);
        cursor: pointer;
        display: flex;
        gap: var(--borderRadius);
        height: 36px;
        padding: 0 0 0 10px;
    }

        .SearchResult:hover:not(.Selected) {
            background: var(--primary);
            mix-blend-mode: screen;
        }

        .SearchResult.Selected {
            background: var(--primary);
        }