.SubPanel {
    padding: var(--borderRadius);
    display: flex;
    flex-direction: column;
}

.SubPanel.Separator {
    border-bottom: 1px solid var(--secondarySurface);
}

    .SubPanel.TopSeparator {
        border-top: 1px solid var(--secondarySurface);
    }