<section class="SubPanel @GetCssClass()" @attributes="Attributes">
    @ChildContent
</section>

@code {
    #region Parameters

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? Attributes { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool Separator { get; set; } = true;

    #endregion

    protected virtual string GetCssClass() => Separator ? "Separator" : "";
}
