.ToolButton {
    align-items: stretch;
    background: inherit;
    border: 0;
    border-radius: var(--borderRadius);
    cursor: pointer;
    display: flex;
    min-height: 48px;
    min-width: 48px;
    outline: none;
    padding: 0;
    overflow: hidden;
}

    .ToolButton.Compact {
        min-height: 40px;
        min-width: 40px;
    }

.ToolButton:disabled {
    cursor: default;
    opacity: .5;
}

.Content {
    align-items: center;
    color: var(--text);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    min-width: 48px;
    padding: var(--borderRadius);
}

.ToolButton.Compact .Content {
    min-width: 40px;
}

.PopupButton {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: clip;
    width: 16px;
}

    .PopupButton:hover {
        background: inherit;
        mix-blend-mode: var(--blendMode);
    }

.ToolButton svg {
    mix-blend-mode: unset;
    display: block;
    fill: var(--text);
}

.ToolButton:hover:not(:disabled) {
    background: var(--secondaryPrimary);
}

.ToolButton:active:not(:disabled) {
    background: var(--secondaryPrimaryDarker);
}