.Toolbar {
    background: var(--surface);
    border-radius: var(--borderRadius);
    display: flex;
    padding: var(--borderRadius);
}

    .Toolbar.Separator {
        border-bottom: 1px solid var(--secondarySurface);
    }
