.ListBox[b-nqobr4kfw9] {
    display: flex;
    flex-direction: column;
}

.Item[b-nqobr4kfw9] {
    background: inherit;
    border: 0;
    border-radius: var(--borderRadiusSmall);
    color: var(--text);
    display: flex;
    min-height: 16px;
    outline: none;
    padding: var(--borderRadius);
}

    .Item:hover[b-nqobr4kfw9] {
        background: var(--secondarySurface);
    }

    .Item.IsSelected[b-nqobr4kfw9] {
        background: var(--primary);
        color: var(--primaryInverted);
    }