<div class="FormControl">
    <QuantityFormItem Header="Høyde" />
    <FormItem Header="Vekt" />
    <FormItem Header="Kjønn" />
</div>

@code {
    [Parameter]
    public ClinForm? ClinForm { get; set; }
}
