<div class="FormControl">
    <FormPage Title="Basic" />
    <QuantityFormItem Header="Høyde" />
    <QuantityFormItem Header="Vekt" />
    <FormItem Header="Kjønn" />
    <QuantityFormItem Header="BMI" ReadOnly="true" Value="30" />
    <MultilineFormItem Header="Oppsummering"></MultilineFormItem>
</div>

@code {
    [Parameter]
    public ClinForm? ClinForm { get; set; }
}
