@inherits FormItem

<FormItem Header="@Header">
    <div class="IconAnswerFormItem">
        <button>

        </button>
    </div>
</FormItem>

@code {
    [Parameter]
    public int? Value { get; set; }
}
