@inherits FormItem

<FormItem Header="@Header">
    <div class="QuantityFormItem">
        <input type="text" />
        <button>-</button>
        <button>+</button>
    </div>
</FormItem>

@code {

}
