.QuantityFormItem {
    background: var(--neutralLight);
    display: flex;
    height: 24px;
    min-height: 24px;
    border-radius: 12px;
    border: 0;
    outline: none;
    padding: 0 0 0 10px;
}

    .QuantityFormItem input {
        background: none;
        border: 0;
        outline: none;
    }

.QuantityFormItem button {
    background: none;
    border: 0;
}