<article class="AlertCell">
    <header>
        <h2>@Title</h2>
    </header>
    <div>
        @Text
    </div>
    @if (IsArchived)
    {
        <footer>

        </footer>
    }
</article>

@code {
    [Parameter]
    public bool IsArchived { get; set; } = false;

    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public string Text { get; set; } = "";
}