.HeaderPanel {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
}

    .HeaderPanel:focus-within {
        outline: 2px solid #2B40A4;
    }

    .HeaderPanel header {
        align-items: center;
        background: #fafafa;
        color: #444;
        display: flex;
        gap: 10px;
        font-family: Circular-Book, Arial, sans-serif;
        font-weight: 600;
        font-size: 1.5em;
        margin-bottom: 10px;
        padding: 0 10px;
        height: 44px;
    }

    .HeaderPanel > div {
        padding: .625em; /* 10px */
    }
