@inherits LayoutComponentBase
@inject IUiService Ui
@inject IGlobalSearch GlobalSearch
@inject IDrugsService DrugService

@if (Ui.DarkMode)
{
    <link href="css/themes/dark.css" rel="stylesheet" />
}
else
{
    <link href="css/themes/light.css" rel="stylesheet" />
}

<main>
    <TitleBar OnSearch="HandleSearch" />
    <TabsBar>

    </TabsBar>
@Body
    <StatusBar />
</main>

@code {
    private async Task HandleSearch(string search)
    {
        await GlobalSearch.SearchAsync(search);
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        GlobalSearch.Executed += OnExecuted;
    }

    private void OnExecuted()
    {
        StateHasChanged();
    }
}
