<footer class="StatusBar">
    <section>
        <PopupMenu>
            <ChildContent>
                <DropButton>NDV</DropButton>
            </ChildContent>
            <MenuOptions>
                <MenuOption Text="ENDO" />
                <MenuOption Text="GBD" />
            </MenuOptions>
        </PopupMenu>
    </section>
</footer>

@code {
}
