<footer class="StatusBar">
    <section>
        <PopupList T="string" Items="Protocols" OnSelect="(pr) => Protocol = pr">
            <ChildContent>
                <DropButton>NDV</DropButton>
            </ChildContent>
        </PopupList>
    </section>
</footer>

@code {
    List<string> Protocols = ["NDV", "GBD", "ENDO"];

    string Protocol = "NDV";
}