.TitleBar {
    --Sides: 340px;

    align-items: center;
    background: var(--surface);
    display: flex;
    height: 60px;
    justify-content: space-between;
    margin-bottom: 1px;
    padding: 0 10px;
}

.Person {
    display: flex;
    align-items: center;
    width: var(--Sides);
}

    .Person h1 {
        color: var(--text);
        font-size: 24px;
        font-weight: normal;
        margin: 0 10px;
        padding: 0;
    }

.User {
    display: flex;
    justify-content: flex-end;
    width: var(--Sides);
    align-items: center;
    gap: 10px
}

.UserLocation {
    display: flex;
}

.UserPersonalia {
    align-items: center;
    color: var(--text);
    display: flex;
    gap: var(--borderRadiusLarge);
}

.Alerts {

}